.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 9999;
    display: none;
}
.scroll-to-top a {
    background-color: palevioletred;
    padding: 5px 10px;
    border-radius: 5px;
    color: red;
    font-weight: 900;
}